.header {
  height: 700px;
  background-image: url(../images/header_new_design_optimized.png);
  background-size: cover;
  padding: 24px 120px;
  letter-spacing: 2px; }
  .header__text {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 85px;
    width: 328px;
    height: 121px;
    letter-spacing: -1.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.upper-actions {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 314px; }
  .upper-actions__number {
    margin-top: 32px; }
  .upper-actions__logo {
    height: 76px;
    width: 115px;
    background-image: url(../images/logo.png);
    background-size: contain; }
  .upper-actions__call {
    color: #fff;
    text-decoration: none;
    margin-top: 32px;
    cursor: pointer; }
    .upper-actions__call::after {
      content: "";
      margin-top: 8px;
      display: block;
      width: 100%;
      border: 1px solid #fff;
      background-color: #fff; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  text-align: center;
  list-style: none; }
  .navigation__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 10px; }
    .navigation__link:hover {
      color: #9fadc2;
      background: rgba(255, 255, 255, 0.1); }

.active-link {
  color: #9fadc2;
  background: rgba(255, 255, 255, 0.1); }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4px; }
  .info__heading {
    width: 328px;
    height: 97px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px; }
  .info__text {
    width: 500px; }
  .info__text-blue {
    margin-bottom: 16px; }

.gallery {
  position: relative;
  margin: 52px auto 0; }
  .gallery__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .gallery__text {
    margin: 24px 0 40px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px; }
  .gallery__text-main {
    margin-bottom: 61px; }
  .gallery__button {
    display: block;
    margin: 0 auto;
    color: #0075ff;
    background-color: #fff;
    width: 188px;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .gallery__button:hover {
      color: #fff;
      background-color: #0075ff; }
  .gallery__image {
    border-radius: 8px;
    margin: 0 10px;
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover; }
  .gallery__image-normal {
    width: calc(50% - 20px); }
  .gallery__image-1-6 {
    width: calc(65% - 20px); }
  .gallery__image-2-5 {
    width: calc(35% - 20px); }

.consultation__column {
  width: 412px; }

.consultation__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.consultation__text-main {
  margin-bottom: 93px; }

.consultation__text-blue {
  margin-bottom: 16px; }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }
  .testimonials__card {
    width: 240px; }
  .testimonials__text {
    width: 100%; }
  .testimonials__text-main {
    margin-bottom: 93px; }
  .testimonials__text-blue {
    margin: 28px 0 4px; }
  .testimonials__caption {
    text-align: center; }

.contact__text-main {
  margin-bottom: 93px; }

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact__column {
  width: 152px;
  margin-right: 150px; }

.contact__text {
  font-size: 16px;
  line-height: 27px;
  font-style: normal;
  font-weight: normal; }

.footer {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: -1;
  height: 400px;
  background: url("../images/newfooter_optimized.png") no-repeat center;
  background-size: cover; }
  .footer__logo {
    position: relative;
    top: 60%;
    left: 45%;
    width: 115px;
    height: 76px;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain; }

.button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  height: 56px;
  border: 2px solid #0075ff;
  border-radius: 8px;
  cursor: pointer; }

.section {
  background-color: #fff;
  color: #000;
  font-weight: 300;
  padding: 50px 120px; }

.link {
  text-decoration: none;
  color: #0075ff; }

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e; }

.text-blue {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.text-main {
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin-top: 52px; }
  .text-main::after {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 16px;
    left: 50%;
    background: url(../images/crown.svg) no-repeat center; }

.caption {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 27px;
  color: #9fadc2; }

.form {
  width: 413px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px; }
  .form__item {
    padding: 17px;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    background: #f7f8ff;
    color: #b9c1ce;
    border: 1px solid #fff;
    border-radius: 18px;
    outline: none; }
    .form__item:hover {
      -webkit-box-shadow: 0 0 0 1px #0075ff inset;
              box-shadow: 0 0 0 1px #0075ff inset; }
  .form__textarea {
    height: 144px; }
  .form__button {
    margin-top: 32px;
    width: 100%;
    color: #fff;
    background-color: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
    .form__button:hover {
      background-color: #fff;
      color: #0075ff; }

@media screen and (min-width: 1500px) {
  .section {
    padding: 50px 25%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 900px) {
  .section {
    padding: 50px; }
  .upper-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px; }
    .upper-actions__logo {
      margin: 10px 0; }
  .header {
    padding: 20px; }
    .header__text {
      margin: 20px auto 50px; }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 180px; }
    .navigation__link {
      margin: 20px 0; }
  .gallery {
    width: 100%;
    margin: 0; }
    .gallery__image {
      height: 131px; }
    .gallery__image-normal {
      width: calc(50% - 20px); }
    .gallery__image-1-6 {
      width: calc(50% - 20px); }
    .gallery__image-2-5 {
      width: calc(50% - 20px); } }

@media screen and (max-width: 800px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info__heading {
      width: 600px;
      margin-bottom: 60px; }
    .info__text {
      width: 600px; } }

@media screen and (max-width: 426px) {
  .navigation {
    margin-top: 150px; }
  .section {
    padding: 10px; }
  .form {
    margin-top: 40px;
    width: 100%; }
  .text {
    width: 100%; }
  .header {
    padding: 20px; }
    .header__text {
      display: none; }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      width: 100%;
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 36px; }
    .info__text {
      width: 100%; }
  .consultation {
    width: 100%; }
    .consultation__column {
      width: 100%; }
    .consultation__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .testimonials__card {
      margin-bottom: 50px; }
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none; }

main {
  background-color: #fff; }

/*# sourceMappingURL=main.css.map */
